.vscode
build

dist
*.egg-info
venv
venv2

__pycache__
*.pyc

_test*.py
_test*.pyx
_test*.pyxbld

libs
*.so
*.pyd
*.o

*.prof

src/*/*.html
cython_debug/

.coverage
coverage/
coverage.xml
htmlcov/

docs/_build
