exclude *.py
include setup.py setupinfo.py versioninfo.py get_libxpdf.py
include MANIFEST.in Makefile requirements.txt
include src/pyxpdf/*.cpp 
recursive-include src *.pyx *.pxd *.pxi *.py
recursive-include src/pyxpdf pyxpdf_defs.h
